.navbar_container {
    max-width: 700px;
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width: 1024px) {
    .navbar_container {
        display: flex;
    }
}

.navbar_list {
    display: flex;
    width: 100%;
    gap: 48px;
}

.navbar_list>li {
    font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}