@import "tailwindcss";
@plugin '../hero.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #fafbec;
  --foreground: #000000;
  --primary: #ffa310;
  --success: #35855F;
  --almost-black: #252525;
  --dark-gray: #a9a9a9;
  --neutral-gray: #c9c9c9;
  --mustard-yellow: #fcdb5a;
  --charcoal: #3f3f3f;
  --light-gray: #bcbbbb;
  --medium-gray: #676767;
  --secondary: #c3c3c3;
  --info: #919191;
  --link: #0055b8;
  --graphite-gray: #4e4e4e;
  --gunmetal-gray: #323232;
  --slate-gray: #7e7e7e;
  --soft-black: #181818;
  --greige: #b5b0ab;
  --rich-black: #101010;
  --off-white: #ededed;
  --golden-yellow: #f9c638;
  --coral-red: #FD4F38;
  --cool-gray: #D7D6D6;
  --granite-gray: #727272;
  --dim-gray: #5F5F5F;
  --granite-gray: #727272;
  --jet2-gray: #272727;
  --amber: #FFB027;
  --dim-gray-2: #575454;
  --light-charcoal: #3D3D3D;
  --blush-pink: #F6AEAE;

  --form-text: #292929;
  --dark-slate: #474747;
  --gray-muted: #9d9d9d;
  --otp-border: #8b8b8b;
  --mauve-gray: #bbb6b7;
  --silver-gray: #b1b1b1;
  --ash-gray: #929292;
  --light-gray: #BFBFBF;
  --jet-gray: #303030;
  --smoky-black: #2D2926;
  --cool-gray: #ADADAD;
  --almost-gray: #2B2B2B;
  --soft-black: #4B4B4B;
  --iron-gray: #414141;
  --dark-neutral-gray: #4A4A4A;
  --cool-shadow-gray: #878787;
  --very-light-gray: #E0E0E0;
  --variant-gray: #4D4D4D;
  --silver-gray-lite: #C5C5C5;
  --off-white: #F6F6F6;
  --balanced-gray: #989898;
  --off-white-gray: #E8E8E8;
  --gray-500: #BEBEBE;
  --bright-orange: #FF9D00;
  --ash-charcoal: #505050;
  --beige: #EEEBE5;
  --medium-light-gray: #9A9A9A;
  --neutral-light-gray: #C4C4C4;
  --gainsboro: #D9D9D9;
  --oynx: #292929
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility container {
  margin-inline: auto !important;
  padding-inline: 1rem !important;
  max-width: var(--container-max, 1320px);
}

@theme {
  /* --font-bebas: var(--font-bebas); */

  --container-max: 1320px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-2xl: 1320px;

  /*Font Declration*/
  --text-hero: 60px;
  --text-xxs: 10px;

  /* Color for the secondary dange etc listed here */
  --color-primary: var(--primary);
  --color-almost-black: var(--almost-black);
  --color-dark-gray: var(--dark-gray);
  --color-neutral-gray: var(--neutral-gray);
  --color-mustard-yellow: var(--mustard-yellow);
  --color-charcoal: var(--charcoal);
  --color-light-gray: var(--light-gray);
  --color-medium-gray: var(--medium-gray);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --color-link: var(--link);
  --color-graphite-gray: var(--graphite-gray);
  --color-gunmetal-gray: var(--gunmetal-gray);
  --color-slate-gray: var(--slate-gray);
  --color-soft-black: var(--soft-black);
  --color-greige: var(--greige);
  --color-rich-black: var(--rich-black);
  --color-off-white: var(--off-white);
  --color-golden-yellow: var(--golden-yellow);
  --color-coral-red: var(--coral-red);
  --color-cool-gray: var(--cool-gray);
  --color-dim-gray: var(--dim-gray);
  --color-granite-gray: var(--granite-gray);
  --color-jet2-gray: var(--jet2-gray);
  --color-amber: var(--amber);
  --color-dim-gray-2: var(--dim-gray-2);
  --color-light-charcoal: var(--light-charcoal);
  --color-blush-pink: var(--blush-pink);

  /* All Other Color listed here */
  --color-form-text: var(--form-text);
  --color-otp-border: var(--otp-border);
  --color-gray-muted: var(--gray-muted);
  --color-dark-slate: var(--dark-slate);
  --color-mauve-gray: var(--mauve-gray);
  --color-silver-gray: var(--silver-gray);
  --color-ash-gray: var(--ash-gray);
  --color-light-gray: var(--light-gray);
  --color-jet-gray: var(--jet-gray);
  --color-smoky-black: var(--smoky-black);
  --color-cool-gray: var(--cool-gray);
  --color-almost-gray: var(--almost-gray);
  --color-soft-black: var(--soft-black);
  --color-dark-neutral-gray: var(--dark-neutral-gray);
  --color-cool-shadow-gray: var(--cool-shadow-gray);
  --color-very-light-gray: var(--very-light-gray);
  --color-variant-gray: var(--variant-gray);
  --color-off-white: var(--off-white);
  --color-silver-gray-lite: var(--silver-gray-lite);
  --color-balanced-gray: var(--balanced-gray);
  --color-off-white-gray: var(--off-white-gray);
  --color-gray-500: var(--gray-500);
  --color-bright-orange: var(--bright-orange);
  --color-ash-charcoal: var(--ash-charcoal);
  --color-biege: var(--biege);
  --color-medium-light-gray: var(--medium-light-gray);
  --color-neutral-light-gray: var(--neutral-light-gray);
  --color-beige: var(--beige);
  --color-gainsboro: var(--gainsboro);
  --color-oynx: var(--oynx);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inner_page_section_padding {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.after_login_page_section_padding {
  padding-block: 48px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}