.banner_section {
    height: 440px;
    height: 100%;
    background-image: url("/assets/image/banner/discover_page_banner_image.png");
    background-size: cover;
    background-position: center;
    position: relative;
}